
html, body {
  margin: 0;
  background-color: #F2E3CE;
}


img {
  max-width: 100%;
}
.full-size-image {
  background: url(img/pic.png);
  padding: 15em 0;
  background-size: cover;
}

.full-size-image h1 {
  color: #6B543F;
  text-shadow: 0 0 40px #C4BEC0;
  font-size: 3em;
}
