body {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  }

a, a:link, a:visited {
  color: #787888;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 130px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  background-blend-mode: screen;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 120px; /* Place content 60px from the top */
}

.sidenav a {
  padding: 10px 4px 32px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.menu {
  margin-left: -10px;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}

.welcome {
    color: white;
    margin-top: 60px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
  }

.name {
  text-decoration: none;
  background: #a7a8bd;
  padding: 2px 6px;
  color: white;
}

.first {
  width:100vh;
  height:100vh;
}

.three-icon {
  margin-left:10px;
  margin-top: 80px;
  width:100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.icon {
  display:inline-block;
  font-size: 40px;
  color:#787888;
}

.title {
  color: rgb(97, 97, 97);
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  line-height: 50px;
}

.content {
  margin-top: 15px;
  color: rgb(242, 241, 241);
  font-size: 15px;
  line-height: 25px;
  font-family: Verdana, sans-serif;
}

.tags {
  margin-top: 30px;
}